# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Env Files
.env*.local
.env

# Vercel
.vercel

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
# Next-env
# next-env.d.ts # Usually included in the repo for Next.js 10+

# Local Agent Configuration
.agent/
